{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "topLevelAwait": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2018",
    "externalHelpers": true,
    "keepClassNames": true
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}
